<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="bi bi-heart-pulse-fill"></i> MindCare
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exercises">Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tracker">Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Feedback</a>
        </li>
        <% if (locals.userName) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <%= userName %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" onclick="logout()">Logout</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div style="height: 56px;"></div>

<script>
  async function logout() {
    await fetch('/api/auth/logout', { method: 'POST' });
    window.location.href = '/login';
  }
</script>